body {
    font-family: Arial, sans-serif;
    background-color: #2a5d9c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.countdown-container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.motivational-text {
    font-size: 1.5em;
    margin-bottom: 30px;
    font-weight: bold;
}

#countdown {
    font-size: 2em;
    font-weight: bold;
}
